# Install from the backend folder:
# run this in terminal > python -m pip install -r requirements.txt

# Gemini API library
google-genai

# Loads environment variables from .env
python-dotenv

# Receives frontend requests and returns backend responses
fastapi

# Runs the FastAPI application as a web server
uvicorn